In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


import warnings
warnings.filterwarnings('ignore')

In [4]:
df=sns.load_dataset('mpg')

In [5]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [6]:
df.drop("name",axis=1,inplace=True)

In [7]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,18.0,8,307.0,130.0,3504,12.0,70,usa
1,15.0,8,350.0,165.0,3693,11.5,70,usa
2,18.0,8,318.0,150.0,3436,11.0,70,usa
3,16.0,8,304.0,150.0,3433,12.0,70,usa
4,17.0,8,302.0,140.0,3449,10.5,70,usa
...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa
394,44.0,4,97.0,52.0,2130,24.6,82,europe
395,32.0,4,135.0,84.0,2295,11.6,82,usa
396,28.0,4,120.0,79.0,2625,18.6,82,usa
397,31.0,4,119.0,82.0,2720,19.4,82,usa

In [8]:
df.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
dtype: int64

In [9]:
df['horsepower'].median()

93.5

In [10]:
df['horsepower']=df['horsepower'].fillna(df['horsepower'].median())

In [11]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,18.0,8,307.0,130.0,3504,12.0,70,usa
1,15.0,8,350.0,165.0,3693,11.5,70,usa
2,18.0,8,318.0,150.0,3436,11.0,70,usa
3,16.0,8,304.0,150.0,3433,12.0,70,usa
4,17.0,8,302.0,140.0,3449,10.5,70,usa
...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa
394,44.0,4,97.0,52.0,2130,24.6,82,europe
395,32.0,4,135.0,84.0,2295,11.6,82,usa
396,28.0,4,120.0,79.0,2625,18.6,82,usa
397,31.0,4,119.0,82.0,2720,19.4,82,usa

In [12]:
df.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model_year      0
origin          0
dtype: int64

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
dtypes: float64(4), int64(3), object(1)
memory usage: 25.0+ KB

In [14]:
df.origin.unique()

array(['usa', 'japan', 'europe'], dtype=object)

In [15]:
df.origin.value_counts()

origin
usa       249
japan      79
europe     70
Name: count, dtype: int64

In [16]:
df['origin']=df['origin'].map({"usa":1,"japan":2,"eurpoe":3})

In [17]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,18.0,8,307.0,130.0,3504,12.0,70,1.0
1,15.0,8,350.0,165.0,3693,11.5,70,1.0
2,18.0,8,318.0,150.0,3436,11.0,70,1.0
3,16.0,8,304.0,150.0,3433,12.0,70,1.0
4,17.0,8,302.0,140.0,3449,10.5,70,1.0
...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,1.0
394,44.0,4,97.0,52.0,2130,24.6,82,NaN
395,32.0,4,135.0,84.0,2295,11.6,82,1.0
396,28.0,4,120.0,79.0,2625,18.6,82,1.0
397,31.0,4,119.0,82.0,2720,19.4,82,1.0

In [18]:
X=df.drop('mpg',axis=1)
Y=df['mpg']

In [19]:
X

,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,8,307.0,130.0,3504,12.0,70,1.0
1,8,350.0,165.0,3693,11.5,70,1.0
2,8,318.0,150.0,3436,11.0,70,1.0
3,8,304.0,150.0,3433,12.0,70,1.0
4,8,302.0,140.0,3449,10.5,70,1.0
...,...,...,...,...,...,...,...
393,4,140.0,86.0,2790,15.6,82,1.0
394,4,97.0,52.0,2130,24.6,82,NaN
395,4,135.0,84.0,2295,11.6,82,1.0
396,4,120.0,79.0,2625,18.6,82,1.0
397,4,119.0,82.0,2720,19.4,82,1.0

In [20]:
Y

0      18.0
1      15.0
2      18.0
3      16.0
4      17.0
       ...
393    27.0
394    44.0
395    32.0
396    28.0
397    31.0
Name: mpg, Length: 398, dtype: float64

In [21]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=1)

X_test

In [47]:
Y_test.median()

23.0

In [48]:
X_test

cylinders          4.5
displacement     153.5
horsepower        96.5
weight          2815.0
acceleration      15.0
model_year        77.0
origin             1.0
dtype: float64

In [49]:
Y_train

23.0

In [25]:
X_train

,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
350,4,105.0,63.0,2215,14.9,81,1.0
59,4,97.0,54.0,2254,23.5,72,NaN
120,4,121.0,112.0,2868,15.5,73,NaN
12,8,400.0,150.0,3761,9.5,70,1.0
349,4,91.0,68.0,1985,16.0,81,2.0
...,...,...,...,...,...,...,...
393,4,140.0,86.0,2790,15.6,82,1.0
255,4,140.0,88.0,2720,15.4,78,1.0
72,8,304.0,150.0,3892,12.5,72,1.0
235,4,97.0,75.0,2265,18.2,77,2.0
37,6,232.0,100.0,3288,15.5,71,1.0

In [26]:
X_train.shape,X_test.shape

((278, 7), (120, 7))

In [27]:
from sklearn.linear_model import LinearRegression

In [28]:
regression_model=LinearRegression()
regression_model

LinearRegression()

In [29]:
X_train

,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
350,4,105.0,63.0,2215,14.9,81,1.0
59,4,97.0,54.0,2254,23.5,72,NaN
120,4,121.0,112.0,2868,15.5,73,NaN
12,8,400.0,150.0,3761,9.5,70,1.0
349,4,91.0,68.0,1985,16.0,81,2.0
...,...,...,...,...,...,...,...
393,4,140.0,86.0,2790,15.6,82,1.0
255,4,140.0,88.0,2720,15.4,78,1.0
72,8,304.0,150.0,3892,12.5,72,1.0
235,4,97.0,75.0,2265,18.2,77,2.0
37,6,232.0,100.0,3288,15.5,71,1.0

In [30]:
regression_model

LinearRegression()

In [31]:

X_train.shape,X_test.shape

((278, 7), (120, 7))

In [32]:

Y_train.shape,Y_test.shape

((278,), (120,))

In [33]:
print(X_train.columns)

Index(['cylinders', 'displacement', 'horsepower', 'weight', 'acceleration',
       'model_year', 'origin'],
      dtype='object')

In [36]:
from sklearn.linear_model import LinearRegression
regression_model=LinearRegression()
regression_model

LinearRegression()

In [61]:
for i, col_name in enumerate(X_train.columns):
    print(f"The coeff for {col_name}")

The coeff for cylinders
The coeff for displacement
The coeff for horsepower
The coeff for weight
The coeff for acceleration
The coeff for model_year
The coeff for origin

In [57]:
for i, col_name in enumerate(X_train.columns):
    print(i,col_name)

0 cylinders
1 displacement
2 horsepower
3 weight
4 acceleration
5 model_year
6 origin